
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(241, 245, 248);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.content{
    text-align: center;
    border-radius: 0.8rem;
    margin-left: 10rem;
    margin-right: 10rem;
    width: 50%;
    color: rgb(0, 0, 0);
    margin-top: 0rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    height: 800px;
    margin-bottom: 0.5rem;
}


.word {
    background-color: #111827;
    color: white;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    box-shadow: 0 20px 10px 2px rgba(0, 0, 0, 0.1);
}



h1 {
    padding: 1rem;
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}




h2 {
    transition: 0.5s;
}


#input-el {

    background-color: rgb(244, 244, 248);
    border-radius: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 45px;
    font-size: 20px;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 25px;
    padding-top: 0.3rem;
}

.keyword {
    color: rgb(0, 0, 0);
    font-size: 45px;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.guessed {
    color: green;
}

.not-guessed {
    color: red;
}


#enter-btn {
    background-color:#111827;
    color: white;
    height: 45px;
    width: 60px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s;
}



#enter-btn:hover {
    background-color: rgb(244, 244, 248);
    color: #111827;
    transform: translateY(-2px);
}

.delete-btn {
    background-color:#ff000d;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 60px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s;
}

.delete-btn:hover{
        background-color: rgb(244, 244, 248);
        color: #111827;
        transform: translateY(-2px);

}


#star-btn {
    height: 100px;
    width: 400px;
    font-size: 45px;
    font-weight: bold;
    border-radius: 10px;
    outline-style: none;
    border-style: none;
    box-shadow: 10px 5px 10px 5px rgba(37, 36, 36, 0.1);
    transition: 0.6s;
    background-color: #111827;
    color: white;

}



#star-btn:hover {
    background-color: #f9fafd;
    color: #111827;
    transform:translateY(10px);
}

.NewGameBtn {
    margin-top: 2rem;
    background-color: #111827;
    color: rgb(244, 244, 248);
    height: 60px;
    width: 150px;
    border-radius: 10px;
    font-size: 25px;
    transition: 0.4s;
}


.NewGameBtn:hover {
    background-color: rgb(244, 244, 248);
    color: #111827;
    transform: translateY(-10px);
    
}

.content2 {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-bottom: 4rem;
}


.Wrong{
    color: red;
}

.niceGuess {
    color: green;
}


.attemsCount{
    color: rgb(228, 0, 0);
    font-size: 100px;
}


.MobileError{
    position: absolute;
    top: 10000%;
}

.keyboard{
    margin-top: 5rem;
}


.KeyboardRow {
    text-align: center;
     }

.KeyboardKey {
    display: inline-block;
    border: 5px solid #111827;
    padding: 10px;
    margin-bottom: 5px;
    transition: 0.6s;
    border-radius: 10px;
    color: #111827;
    
}


.KeyboardKey.used{
    background-color: rgb(85, 84, 84);
    color:whitesmoke;
}

.KeyboardKey.right{
    background-color: rgb(1, 141, 1);
    color: whitesmoke;
}

.KeyboardKey:hover{
    background-color: #111827;
    transform: translateY(-5px);
    color: whitesmoke;
}


@media screen and (max-width:560px) {

    .content{
        text-align: center;
        border-radius: 0.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 60%;
        color: rgb(0, 0, 0);
        margin-top: 0rem;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 20px 10px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 400px;
        max-width: 100%;
        height: 800px;
        margin-bottom: 0.5rem;
    }


    .word{
        margin-left: 6rem;
        margin-right:6rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .KeyboardKey {
        display: inline-block;
        border: 3px solid #111827;
        transition: 0.6s;
        border-radius: 10px;
        padding: 7px;
        height: 35px;
        margin: 1px;
        
    }

    .KeyboardKey:hover{
        background-color: #111827;
        transform: translateY(-1px);
        color: whitesmoke;
    }

    #input-el {

        background-color: rgb(244, 244, 248);
        border-radius: 5px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        height: 45px;
        font-size: 20px;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 25px;
        padding-top: 0.3rem;
    }

    #enter-btn {
        background-color:#111827;
        color: white;
        height: 40px;
        width: 60px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 500;
        transition: 0.4s;
        margin: 0.1rem;
    }
    
    
    
    #enter-btn:hover {
        background-color: rgb(244, 244, 248);
        color: #111827;
    }
    
    .delete-btn {
        background-color:#ff000d;
        color: rgb(255, 255, 255);
        height: 35px;
        width: 50px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 500;
        transition: 0.4s;
        padding-bottom: 0.5rem;
    }
    
    .delete-btn:hover{
        background-color: rgb(244, 244, 248);
        color: #111827;

    
    }


    #star-btn {
        height: 100px;
        width: 300px;
        padding-bottom: 0.5rem;
        font-size: 40px;
        font-weight: bold;
        border-radius: 10px;
        outline-style: none;
        border-style: none;
        box-shadow: 10px 5px 10px 5px rgba(37, 36, 36, 0.1);
        transition: 0.6s;
        background-color: #111827;
        color: white;
    
    }

    .NewGameBtn {
        margin-top: 2rem;
        background-color: #111827;
        color: rgb(244, 244, 248);
        height: 60px;
        width: 250px;
        border-radius: 10px;
        font-size: 28px;
        transition: 0.4s;
    }
}

